@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hello page</h1>
<p>
    first thing after initializing you repo is creat the <strong>develop</strong> branch
    push the branch 
    
    then All other should create a branch for thair feature and once the features development is done they push to the feature branch 
</p>

<p>
    once the feature is tasted on the feature branch; request to marge his code into the develop branch
    <strong>this request called PR</strong>
</p>